# ignores files without a file extension
*
!*.*

# ignore all .log files
*.log

#ignore all .npy files
*.npy

# ignore all files in the examples/ directory
examples/

#ignore all files in the scripts/ directory
scripts/
.venv/
.vscode/

#ignoring testing.c
testing.c

# ignoring c output files that are named differently for some reason
*.o

# ignoring spotlight cache files that are in every directory according to Owen
.DS_Store   