# ignores files without a file extension
*
!*.*

# ignore all .log files
*.log

#ignore all .npy files
*.npy

# ignore all files in the examples/ directory
examples/

#ignore all files in the scripts/ directory
scripts/
.venv/
.vscode/
